.Container{
    text-align: center;
    height: fit-content;
}
button{
    width: 100px;
    border-radius: 40px;
}
.buttons{
    display: flex;
    justify-content: center;
}
.Reset{
    margin-top: 10px;
}